<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="nav-container">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/log-in">Log In</a></li>
          <li><a href="/sign-up">Sign Up</a></li>
        </ul>
      </nav>
    </div>
    <% if (messages.error) { %>
    <div class="alert alert-danger"><%= messages.error %></div>
    <% } %> <% if (messages.success) { %>
    <div class="alert alert-success"><%= messages.success %></div>
    <% } %>
  </body>
</html>
