<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="nav-container">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/log-in">Log In</a></li>
          <li><a href="/sign-up">Sign Up</a></li>
        </ul>
      </nav>
    </div>
    <% if (user) { %>
    <h1>Welcome, <%= user.username %></h1>
    <form action="/create-message" method="POST">
      <input type="text" name="title" placeholder="Enter your title here" />
      <textarea name="message" placeholder="Enter your message here"></textarea>
      <button type="submit">Create Message</button>
    </form>
    <% } %> <% if (messages) { %> <% messages.forEach(message => { %>
    <div class="message">
      <p><%= message.message %></p>
      <% if (user) {%>
      <p>Posted by:<%= message.user.username %></p>
      <% } %>
    </div>
    <% }); %> <% } %>
  </body>
</html>
